/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
body {
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 100%;
  font-weight: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
}
.wrapper {
  width: 100%;
}
.header {
  
  display: -webkit-box;
  
  display: -ms-flexbox;
  
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 1000px;
  margin-bottom: 70px;
  background-image:-webkit-gradient(linear, left top, left bottom, from(rgb(232, 129, 130, .8)), to(rgb(240, 217, 138, .8))), url('./../img/bg-grif.png');
  background-image:-o-linear-gradient(top, rgb(232, 129, 130, .8), rgb(240, 217, 138, .8)), url('./../img/bg-grif.png');
  background-image:linear-gradient(to bottom, rgb(232, 129, 130, .8), rgb(240, 217, 138, .8)), url('./../img/bg-grif.png');
  
  background-size: cover;
  
}
@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(min-resolution: 192dpi) {
    .header {
      background-image:-webkit-gradient(linear, left top, left bottom, from(rgb(232, 129, 130, .8)), to(rgb(240, 217, 138, .8))), url('./../img/bg-grif@2x.png');
      background-image:-o-linear-gradient(top, rgb(232, 129, 130, .8), rgb(240, 217, 138, .8)), url('./../img/bg-grif@2x.png');
      background-image:linear-gradient(to bottom, rgb(232, 129, 130, .8), rgb(240, 217, 138, .8)), url('./../img/bg-grif@2x.png');
    }
}
.top-navigation {
  width: 1200px;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 150px;

}
ul>li {
  list-style-type: none;
}
.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  width: 615px;
  
}
.menu-item  {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* height: 100%; */
}
.menu-item :hover  {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color:#fce38a;
  cursor: pointer;
  padding-bottom: 12px;
  border-bottom:3px solid #fce38a;
  -webkit-transform: translateY(7px);
      -ms-transform: translateY(7px);
          transform: translateY(7px);
}

.menu-item-link {
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 14px;
  text-decoration: none;
  font-weight: bold;

}

.menu-item-link-icon {
  fill: #ffffff;
  width: 18px;
  height: 48px;
}
.menu-item-link-icon:hover {
  fill: #fce38a;
  padding-bottom: 7px;
  -webkit-transform: translateY(5px);
      -ms-transform: translateY(5px);
          transform: translateY(5px);
  border-bottom:3px solid #fce38a;
}

.logo {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateY(-7px);
      -ms-transform: translateY(-7px);
          transform: translateY(-7px);
}
.logo-text {
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  text-transform: none;
  font-weight: bold;
}
.tagline-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 821px;
}
.tagline-creative {
  text-transform: none;
  text-align: center;
  width: 100%;
  font-size: 72px;
  font-family: 'Kaushan Script', cursive;
  color: rgb(255, 255, 255);
  margin-bottom: 50px;
}
.tagline-welcome {
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  text-align: center;
  font-size: 150px;
  font-weight: bold;
  line-height: 0.933;
  margin-bottom: 125px;
}
.learn-more-btn {
  width: 160px;
  height: 40px;
  background: none;
  border: 3px solid #ffffff;
  cursor: pointer;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;

}
.under-header-block {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  
}
.activity {
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.we-work-with, .who-we-are {
  text-transform: none;
  text-align: center;
  width: 100%;
  font-size: 24px;
  font-family: 'Kaushan Script', cursive;
  color: rgb(51, 51, 51);
  margin-bottom: 20px;
}
.amazing-services {
  text-align: center;
  width: 100%;
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  color: rgb(51, 51, 51); 
  font-weight: bold;
  margin-bottom: 110px;
}
.amazing-services::after, .meet-our-team::after {
  content: "";
  display: block;
  background:#f38181;
  height: 3px;
  width: 60px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 45px;
}
.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}
.service-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 383px;
  height: 75px;
  margin-bottom: 105px;
}
.service-svg-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 83px;
  height: 75px;
}
.icon {
  -webkit-transform: translateX(20px);
      -ms-transform: translateX(20px);
          transform: translateX(20px);
  fill:rgb(149, 225, 211);
  width: 36px;
  height: 36px;
}
.service-text-block {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.service-name {
  width: 100%;
  font-size: 14px;
  color: rgb(51, 51, 51);
}
.service-text {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  color: rgb(153, 153, 153);
  text-transform: none;
}
.about-team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.meet-our-team {
  text-align: center;
  width: 100%;
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  color: rgb(51, 51, 51); 
  font-weight: bold;
  margin-bottom: 45px;
}
.text-team-info {
  text-align: center;
  width: 950px;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  color: rgb(153, 153, 153);
  text-transform: none;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 90px;
}
.team-member-card {
  width: 381px;
  height: 545px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.foto-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 381px;
  height: 475px;
  overflow: hidden;
  position: relative;    
  /* line-height: 0; */
}

.foto-block:hover {
  -webkit-transform: translate(-13px, -13px);
      -ms-transform: translate(-13px, -13px);
          transform: translate(-13px, -13px);
  -webkit-box-shadow: 13px 13px #95e1d3;
          box-shadow: 13px 13px #95e1d3;
  -webkit-transition:  .2s linear;
  -o-transition:  .2s linear;
  transition:  .2s linear;
  cursor: pointer;
}

.hcard {
  width: 381px;
  height: 475px;
  background: -webkit-gradient(linear, left top, left bottom, from(#ef8b8a),to(#e5d183));
  background: -o-linear-gradient(top, #ef8b8a,#e5d183);
  background: linear-gradient(to bottom, #ef8b8a,#e5d183); 
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 200;
  position: absolute;
  top: 0;
  left: 0;
}
.foto-block:hover > .hcard {
  opacity: 0.8;
  -webkit-transition: .2s linear;
  -o-transition: .2s linear;
  transition: .2s linear;
}
.cardbtns {
  width: 228px;
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}


.btn {
 fill: #fce38a;
 background-color:#f38181;
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 border: 8px solid #fce38a;
 -webkit-box-pack: center;
     -ms-flex-pack: center;
         justify-content: center;
 -webkit-box-align: center;
     -ms-flex-align: center;
         align-items: center;
 width: 56px;
 height: 56px;
}
.btn:hover {
  fill: #f38181;
  background-color:#ffffff;
  border: 8px solid #f38181;
  -webkit-transition: .2s linear;
  -o-transition: .2s linear;
  transition: .2s linear;
}

.member-info {
  width: 100%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.name {
  width: 100%;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color: rgb(51, 51, 51);
  text-align: center;
  font-weight: 500;
  margin-top: 20px;
}
.job {
  width: 100%;
  font-size: 15px;
  font-family: "Roboto", sans-serif;;
  color: rgb(153, 153, 153);
  text-transform: none;
  text-align: center;
  font-style: italic;
}
.team {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 95px;
}
.foto01 {
  -webkit-transform: translateX(130px);
      -ms-transform: translateX(130px);
          transform: translateX(130px);
}
.foto02 {
  -webkit-transform: translateX(-10px);
      -ms-transform: translateX(-10px);
          transform: translateX(-10px);
  -webkit-transform: translateY(-50px);
      -ms-transform: translateY(-50px);
          transform: translateY(-50px);
}
.foto03 {
  -webkit-transform: translateX(80px);
      -ms-transform: translateX(80px);
          transform: translateX(80px);
  -webkit-transform: translateY(50px);
      -ms-transform: translateY(50px);
          transform: translateY(50px);
}
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 65px;
  border-top: 1px solid  rgb(153, 153, 153);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.copyright-info, .link {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color: rgb(51, 51, 51);
  text-transform: none;
  text-decoration: none;
  cursor: default;
}
.link:hover {
  color:#f38181;;
  cursor: pointer;
}
.feedback {
  width: 380px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.s-btn {
  text-align: center;
  width: 150px;
  height: 40px;
  background-color: #95e1d3;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}
input {
  width: 230px;
  height: 40px;
  
}
::-webkit-input-placeholder {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  color: rgb(204, 204, 204);
  font-style: italic;
  text-indent:10px;
}
::-moz-placeholder {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  color: rgb(204, 204, 204);
  font-style: italic;
  text-indent:10px;
}
:-ms-input-placeholder {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  color: rgb(204, 204, 204);
  font-style: italic;
  text-indent:10px;
}
::-ms-input-placeholder {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  color: rgb(204, 204, 204);
  font-style: italic;
  text-indent:10px;
}
::placeholder {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  color: rgb(204, 204, 204);
  font-style: italic;
  text-indent:10px;
}

